<!-- Deliverables -->
<section id="deliverables">
  <h1>Senior Design Delieverables</h1>
    <!-- Design I -->
  <div id='designI'>
      <h4>Design I</h4>
      <!-- Product Specification -->
      <div class='file'>
          <div class='filename'>Product Specifications</div>
          <div class='download'>
              <a href='files/deliverables/ProductSpecFinal.pdf'>Final</a>
              <a href='files/deliverables/ProductSpecDraft.pdf'>Draft</a>
          </div>
      </div>
      <!-- Product Statement -->
      <div class='file'>
          <div class='filename'>Product Statement</div>
          <div class='download'>
              <a href='files/deliverables/ProblemStatementFinal.pdf'>Final</a>
              <a href='files/deliverables/ProblemStatementDraft.pdf'>Draft</a>
          </div>
      </div>
      <!-- Design Constraint -->
      <div class='file'>
          <div class='filename'>Design Constraint</div>
          <div class='download'>
              <a href='files/deliverables/DesignConstraintFinal.pdf'>Final</a>
              <a href='files/deliverables/DesignConstraintDraft.pdf'>Draft</a>
          </div>
      </div>
      <!-- Midsemester Presentation -->
      <div class='file'>
          <div class='filename'>Midsemester Presentation</div>
          <div class='download'>
              <a href='files/deliverables/MidsemesterPresentation.pptx'>PPT</a>
          </div>
      </div>
      <!-- Midsemester Evaluation -->
      <div class='file'>
          <div class='filename'>Midsemester Evaluation</div>
          <div class='download'>
              <a href='files/deliverables/MidsemesterEvaluation.pdf'>PDF</a>
          </div>
      </div>
      <!-- Approach  -->
      <div class='file'>
          <div class='filename'>Approach</div>
          <div class='download'>
              <a href='files/deliverables/ApproachFinal.pdf'>Final</a>
              <a href='files/deliverables/ApproachDraft.pdf'>Draft</a>
          </div>
      </div>
      <!-- Evaluation  -->
      <div class='file'>
          <div class='filename'>Evaluation</div>
          <div class='download'>
              <a href='files/deliverables/EvaluationDraft.pdf'>Draft</a>
          </div>
      </div>
      <!-- Executive Summary  -->
      <div class='file'>
          <div class='filename'>Executive Summary</div>
          <div class='download'>
              <a href='files/deliverables/ExecutiveSummaryDraft.pdf'>Draft</a>
          </div>
      </div>
      <!-- Final Presentation -->
      <div class='file'>
          <div class='filename'>Final Presentation</div>
          <div class='download'>
              <a href='files/deliverables/FinalPresentation.pptx'>PPT</a>
          </div>
      </div>
      <!-- Final Evaluation -->
      <div class='file'>
          <div class='filename'>Final Evaluation</div>
          <div class='download'>
              <a href='files/deliverables/FinalEvaluation.pdf'>PDF</a>
          </div>
      </div>
      <!-- Final Design 1 Document  -->
      <div class='file'>
          <div class='filename'>Final Design 1 Document</div>
          <div class='download'>
              <a href='files/deliverables/FinalDesignDocument.pdf'>PDF</a>
          </div>
      </div>
  </div>
  <div id='designII'>
      <h4>Design II</h4>
      <!-- Business Plan 1 -->
      <div class='file'>
          <div class='filename'>Business Plan #1</div>
          <div class='download'>
              <a href='files/deliverables/BusinessPlan1Final.pdf'>Final</a>
              <a href='files/deliverables/BusinessPlan1Draft.pdf'>Draft</a>
          </div>
      </div>
      <!-- Business Plan 2 -->
      <div class='file'>
          <div class='filename'>Business Plan #2</div>
          <div class='download'>
              <a href='files/deliverables/BusinessPlan2Final.pdf'>Final</a>
              <a href='files/deliverables/BusinessPlan2Draft.pdf'>Draft</a>
          </div>
      </div>
      <!-- Design 2 Midsemester Presentation -->
      <div class='file'>
          <div class='filename'>Midsemester Presentation</div>
          <div class='download'>
              <a href='files/deliverables/Design2MidsemesterPresentation.pptx'>PPT</a>
          </div>
      </div>
     <!-- Design 2 Midesemester Evaluation -->
      <div class='file'>
          <div class='filename'>Midsemester Evaluation</div>
          <div class='download'>
              <a href='files/deliverables/Design2MidsemesterEvaluation.pdf'>PDF</a>
          </div>
      </div>
      <!-- Business Plan 3 & 4 -->
      <div class='file'>
          <div class='filename'>Business Plan #3 & 4</div>
          <div class='download'>
              <a href='files/deliverables/BusinessPlan34Final.pdf'>Final</a>
          </div>
      </div>
      <!-- Business Plan Combined -->
      <div class='file'>
          <div class='filename'>Business Plan Combined</div>
          <div class='download'>
              <a href='files/deliverables/BusinessPlanCombined.pdf'>PDF</a>
          </div>
      </div>
      <!-- Design 2 Final Evaluation -->
       <div class='file'>
           <div class='filename'>Final Evaluation</div>
           <div class='download'>
               <a href='files/deliverables/Design2FinalEvaluation.pdf'>PDF</a>
           </div>
       </div>
       <!-- Design 2 Final Presentation -->
        <div class='file'>
            <div class='filename'>Final Presentation</div>
            <div class='download'>
                <a href='files/deliverables/Design2FinalPresentation.pptx'>PPT</a>
            </div>
        </div>
      <!-- Final Design 2 Document -->
      <div class='file'>
          <div class='filename'>Final Design 2 Document</div>
          <div class='download'>
              <a href='files/deliverables/FinalDesign2Document.pdf'>PDF</a>
          </div>
      </div>
  </div>
</section>
