<!-- Design -->
<section id="design">
  <h1>Robot Design</h1>
  <div class="robot-portion">
    <h3>Overview</h3>
      <p>
        The design of the final robot for SECON 2015 was the result of many failed attempts at designing a robot that satisfied all of the competition's
        requirements. In December the team finished their prototype and named in "Clyde." This prototype could play all the games and do simple navigation but
        it did not satisfy the size constraint nor could it navigate the entire course. In January the team redesigned the robot to fit the size constraint and
        use more unified materials such as plexiglass and 3D printed material. This robot earned the name "Bonnie." This page contains all of the 3D models,
        laser-cut designs, and software that is Bonnie. The vast majority of Bonnie can be recreated by downloading these files and using a laser cutter and
        3D printer. Other than these files, a box of screws and various electronics are needed to recreate Bonnie.
      </p>
  </div>
  <!-- 3D Models -->
  <div class="robot-portion">
    <h3>3D Parts</h3>
    <p>
      The 3D parts for Bonnie were designed in AutoCAD and printed with a Stratys uPrint 3D printer.
    </p>
    <!-- 3D Models -->
    <div class='design-file'>
        <div class='design-filename'>3D Models</div>
        <div class='download'>
            <a href='files/design/3d_models.zip'>ZIP</a>
        </div>
    </div>
  </div>
  <!-- Laser Cut Designs -->
  <div class="robot-portion">
    <h3>Laser Cut Parts</h3>
    <p>
      The laser cut portions of Bonnie were designed in Microsoft Visio and cut from Plexiglass by a Universal Laser Systems laser cutter.
    </p>
    <!-- Laser Cut Designs -->
    <div class='design-file'>
        <div class='design-filename'>Visio Designs</div>
        <div class='download'>
            <a href='files/design/laser_cut_designs.zip'>ZIP</a>
        </div>
    </div>
  </div>
  <!-- PCB Design  -->
  <div class="robot-portion">
  <h3>PCB Design</h3>
    <p>
      The PCBs were designed in Eagle and fabricated by OSH Park.
    </p>
      <!-- PCB Rev 1  -->
    <div class='design-file'>
        <div class='design-filename'>Rev 1</div>
        <div class='download'>
            <a href='files/design/secon2015_rev1.sch'>Schematic</a>
            <a href='files/design/secon2015_rev1.brd'>Board</a>
        </div>
    </div>
    <!-- PCB Rev 2  -->
    <div class='design-file'>
        <div class='design-filename'>Rev 2</div>
        <div class='download'>
            <a href='files/design/secon2015_rev2.sch'>Schematic</a>
            <a href='files/design/secon2015_rev2.brd'>Board</a>
        </div>
    </div>
  </div>
  <!-- Software  -->
  <div class="robot-portion">
    <h3>Software</h3>
    <p>
      Bonnie uses two PIC micro-controllers from Microchip, one for navigation and one for game playing. Specifically the PIC24HJ128GP506A.
    </p>
    <!-- Source Code  -->
    <div class='design-file'>
        <div class='design-filename'>Source Code</div>
        <div class='download'>
            <a href='files/design/secon_2015_code.zip'>ZIP</a>
            <a href='https://github.com/bryceamacker/senior_design2015'>Repository</a>
        </div>
    </div>
  </div>
  <!-- BOM  -->
  <div class='robot-portion'>
    <h3>Datasheets for all electronics</h3>
    <div class='design-file'>
        <div class='design-filename'>Datasheets</div>
        <div class='download'>
            <a href='files/design/Datasheets.zip'>Zip</a>
        </div>
    </div>
  </div>
  <!-- BOM  -->
  <div class='robot-portion'>
    <h3>Bonnie Bill of Materials</h3>
    <!-- Full BOM  -->
    <div class='design-file'>
        <div class='design-filename'>Full B.O.M.</div>
        <div class='download'>
            <a href='files/design/BOM.pdf'>PDF</a>
        </div>
    </div>
    <div class="table-div">
      <table>
        <tr>
          <th>Component</th>
          <th>Unit Cost</th>
          <th>Count</th>
          <th>Total Cost</th>
        </tr>
        <tr>
          <td>Hitec HS-311 Servo</td>
          <td>$7.99</td>
          <td>x7</td>
          <td>$55.93</td>
        </tr>
        <tr>
          <td>Hitec HS-645MG Servo</td>
          <td>$31.49</td>
          <td>x2</td>
          <td>$62.98</td>
        </tr>
        <tr>
          <td>Parallax CR Servo</td>
          <td>$13.99</td>
          <td>x2</td>
          <td>$27.98</td>
        </tr>
        <tr>
          <td>DC Motors</td>
          <td>$39.95</td>
          <td>x2</td>
          <td>$79.90</td>
        </tr>
        <tr>
          <td>PIC-Daughters</td>
          <td>$8.41</td>
          <td>x2</td>
          <td>$16.82</td>
        </tr>
        <tr>
          <td>Photo Transistors</td>
          <td>$0.9375</td>
          <td>x4</td>
          <td>$3.75</td>
        </tr>
        <tr>
          <td>Photo Resistor</td>
          <td>$0.89</td>
          <td>x1</td>
          <td>$0.89</td>
        </tr>
        <tr>
          <td>Sensor Array</td>
          <td>$9.75</td>
          <td>x4</td>
          <td>$39.00</td>
        </tr>
        <tr>
          <td>Battery Pack</td>
          <td>$71.00</td>
          <td>x1</td>
          <td>$71.00</td>
        </tr>
        <tr>
          <td>Voltage Regulators</td>
          <td>$4.30</td>
          <td>x2</td>
          <td>$8.60</td>
        </tr>
        <tr>
          <td>PCB</td>
          <td>$30.00</td>
          <td>x1</td>
          <td>$30.00</td>
        </tr>
        <tr>
          <td>H-Bridges</td>
          <td>$7.02</td>
          <td>x2</td>
          <td>$14.04</td>
        </tr>
        <tr>
          <td>Buttons</td>
          <td>$0.0866</td>
          <td>x5</td>
          <td>$0.43</td>
        </tr>
        <tr>
          <td>Fuses</td>
          <td>$0.28215</td>
          <td>x4</td>
          <td>$1.13</td>
        </tr>
        <tr>
          <td>Decoupling Capacitors(10uF)</td>
          <td>$0.46</td>
          <td>x7</td>
          <td>$3.22</td>
        </tr>
        <tr>
          <td>Decoupling Capacitors(100uF)</td>
          <td>$0.25</td>
          <td>x2</td>
          <td>$0.50</td>
        </tr>
        <tr>
          <td>Resistors</td>
          <td>$0.00475</td>
          <td>x11</td>
          <td>$0.05</td>
        </tr>
        <tr>
          <td>Miscellaneous Non-Electronic</td>
          <td>$129.59</td>
          <td></td>
          <td>$129.59</td>
        </tr>
        <tr>
          <td>Miscellaneous Electronics</td>
          <td>$19.12</td>
          <td></td>
          <td>$19.12</td>
        </tr>
        <tr>
          <th>Total</th>
          <th></th>
          <th></th>
          <th>$563.93</th>
        </tr>
      </table>
    </div>
  </div>
</section>
