<!-- Home -->
<section id="home">
    <section id='home-left'>
      <h1>Welcome to MSU SECON 2015 </h1>
        <p>
           IEEE SouthEastCon is the annual IEEE Region 3 Technical, Professional, and Student Conference. It brings together Computer Science, Electrical and
           Computer Engineering professions, faculty and students to share the latest information through technical sessions, tutorials and exhibits. It is the
           most influential conference in Region 3 for promoting awareness of the technical contributions made by our profession to the advancement of
           engineering science and to the community.
        </p>
    </section>
    <section id='home-right'>
        <h3>SECON Links</h3>
        <div><a href="http://www.ieee.org/index.html">IEEE</a></div>
        <div><a href="http://msstate.edu">MSU</a></div>
        <div><a href="http://www.ece.msstate.edu">MSU ECE Department</a></div>
        <div><a href="https://twitter.com/secon_msstate">MSU SECON Twitter</a></div>
    </section>
    <section id='home-bottom'>
      <h3>Competition results</h3>
      <p>
        MSU placed 17th out of 39 schools at the competition. During the first round Bonnie accumulated 320 points, the second round 110 points, and the final
        round 110 points. Each round was out of 1000 points. This performance was far inferior to Bonnie's true potential. Before leaving Starkville we could
        complete three different courses each with a time of three minutes or less. The night before departing, both of our DC motors malfunctioned and had to be
        replaced, and one sensor array had to be replaced. This caused many issues. During the first round Bonnie successfully navigated to each game and completed
        the course. She played Simon perfectly and picked up the card as instructed, but was misaligned moving into the Etch-a-Sketch and the Rubiks cube,
        so these games were not played. During the second round Bonnie knocked the Simon out of the box and got stuck waiting for the first light on the Simon
        to light up. We had to stop this round early since she would not move out of the first game box. During the final round Bonnie lost the line on the
        course and got very lost, and we had to stop the round early once again. All-in-all the robot we built was not the robot that we presented at the
        competition.
      </p>
      <h3>Latest and Greatest</h3>
      <div class='latest'>
        <iframe width="700" height="393.75" src="https://www.youtube.com/embed/7GHeTlrg33c" frameborder="0" allowfullscreen></iframe>
      </div>
      <h3>Competition Overview</h3>
      <p>
        The theme of SECON 2015 is road tripping. Competitors must design a robot that can navigate a course and play four commonly found games on road trips.
        The robot starts upon a start light, and when the light turns of the round begins. The robot must follow a white line to four different boxes and
        in each box there is a game. The robot must play Simon for fifteen seconds correctly, draw "IEEE" on an Etch-a-Sketch, twist one row of a Rubiks
        Cube 180&deg, and pick up exactly one card from a deck of cards. After all of the games have been completed the robot must then cross a finish line.
        These tasks must be completed in under five minutes and they must be completed autonomously.
      </p>
      <h3>Sample Course</h3>
      <div class='sample-course'></div>
      <h3>Scoring System</h3>
      <div class="table-div">
        <table>
    			<tr>
    				<th>Action</th>
    				<th>Points</th>
            <th>Total</th>
    			</tr>
          <tr>
            <td>LED Shut Off</td>
            <td>100 on start</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Navigation</td>
            <td>10 per station</td>
            <td>40</td>
          </tr>
          <tr>
            <td>Rubiks Cube</td>
            <td>50 on twist</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Playing Card</td>
            <td>50 on pickup</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Simon</td>
            <td>10 per second</td>
            <td>150</td>
          </tr>
          <tr>
            <td>Etch-a-Sketch</td>
            <td>50 per letter</td>
            <td>200</td>
          </tr>
          <tr>
    				<th>Total</th>
    				<th></th>
            <th>590</th>
    			</tr>
        </table>
      </div>
    </section>
</section>
