<!-- Media -->
<section id="media">
  <h1>SECON Media</h1>
  <h3>Bonnie and Final Mechanisms</h3>
  <div class='galleria' id='bonnie'>
    <a href="images/media/Bonnie/Base.jpg">
        <img
            src="images/media/Bonnie/Base.jpg",
            data-big="images/media/Bonnie/Base.jpg"
            data-title="Bonnie Base"
            data-description="The bottom two plates of Bonnie. Everything on the robot rests on these two plexiglass plates."
        >
    </a>
		<a href="images/media/Bonnie/MFGP.jpg">
        <img
            src="images/media/Bonnie/MFGP.jpg",
            data-big="images/media/Bonnie/MFGP.jpg"
            data-title="MFGP"
            data-description="The Multi-Functional Game Player. This 3D printed piece holds all of the games while they're being played."
        >
    </a>
		<a href="images/media/Bonnie/MFGP-Etch.jpg">
        <img
            src="images/media/Bonnie/MFGP-Etch.jpg",
            data-big="images/media/Bonnie/MFGP-Etch.jpg"
            data-title="MFGP"
            data-description="The MFGP holding the Etch-a-Sketch."
        >
    </a>
		<a href="images/media/Bonnie/MFGP-Rubiks.jpg">
        <img
            src="images/media/Bonnie/MFGP-Rubiks.jpg",
            data-big="images/media/Bonnie/MFGP-Rubiks.jpg"
            data-title="MFGP"
            data-description="The MFGP holding the Rubiks Cube."
        >
    </a>
		<a href="images/media/Bonnie/MFGP-Simon.jpg">
        <img
            src="images/media/Bonnie/MFGP-Simon.jpg",
            data-big="images/media/Bonnie/MFGP-Simon.jpg"
            data-title="MFGP"
            data-description="The MFGP holding the Simon."
        >
    </a>
		<a href="images/media/Bonnie/Platform.jpg">
        <img
            src="images/media/Bonnie/Platform.jpg",
            data-big="images/media/Bonnie/Platform.jpg"
            data-title="Rubiks/Etch Platform"
            data-description="This platform holds the mechanisms for playing both the Rubiks Cube and the Etch-a-Sketch."
        >
    </a>
		<a href="images/media/Bonnie/Platform-Rubiks.jpg">
        <img
            src="images/media/Bonnie/Platform-Rubiks.jpg",
            data-big="images/media/Bonnie/Platform-Rubiks.jpg"
            data-title="Rubiks/Etch Platform"
            data-description="The platform's position for twisting the Rubiks Cube."
        >
    </a>
		<a href="images/media/Bonnie/Platform-Rubiks-Play.jpg">
        <img
            src="images/media/Bonnie/Platform-Rubiks-Play.jpg",
            data-big="images/media/Bonnie/Platform-Rubiks-Play.jpg"
            data-title="Rubiks/Etch Platform"
            data-description="The platform twisting the Rubiks Cube."
        >
    </a>
		<a href="images/media/Bonnie/Platform-Etch.jpg">
        <img
            src="images/media/Bonnie/Platform-Etch.jpg",
            data-big="images/media/Bonnie/Platform-Etch.jpg"
						data-title="Rubiks/Etch Platform"
            data-description="The platform's position for drawing on the Etch-a-Sketch."
        >
    </a>
		<a href="images/media/Bonnie/Platform-Etch-Play.jpg">
        <img
            src="images/media/Bonnie/Platform-Etch-Play.jpg",
            data-big="images/media/Bonnie/Platform-Etch-Play.jpg"
						data-title="Rubiks/Etch Platform"
            data-description="The platform drawing on the Etch-a-Sketch."
        >
    </a>
		<a href="images/media/Bonnie/Rubiks-Play.jpg">
        <img
            src="images/media/Bonnie/Rubiks-Play.jpg",
            data-big="images/media/Bonnie/Rubiks-Play.jpg"
						data-title="Bonnie Rubiks Cube"
            data-description="Bonnie twisting the Rubiks Cube with everything integrated"
        >
    </a>
		<a href="images/media/Bonnie/Simon-Play.jpg">
        <img
            src="images/media/Bonnie/Simon-Play.jpg",
            data-big="images/media/Bonnie/Simon-Play.jpg"
						data-title="Bonnie Simon"
            data-description="Bonnie playing the Simon with everything integrated"
        >
    </a>
		<a href="images/media/Bonnie/Bonnie-Bottom.jpg">
        <img
            src="images/media/Bonnie/Bonnie-Bottom.jpg",
            data-big="images/media/Bonnie/Bonnie-Bottom.jpg"
						data-title="Bonnie Bottom"
            data-description="Bonnie has four line sensors underneath it for line following as well as a photoresistor for detecting the start light."
        >
    </a>
		<a href="images/media/Bonnie/PCB-Rev1.jpg">
        <img
            src="images/media/Bonnie/PCB-Rev1.jpg",
            data-big="images/media/Bonnie/PCB-Rev1.jpg"
						data-title="PCB Rev 1"
            data-description="The first revision of the SECON PCB unpopulated."
        >
    </a>
		<a href="images/media/Bonnie/PCB-Rev1-Front.jpg">
        <img
            src="images/media/Bonnie/PCB-Rev1-Front.jpg",
            data-big="images/media/Bonnie/PCB-Rev1-Front.jpg"
						data-title="PCB Rev 1"
            data-description="The front of the PCB after everything has been populated and plugged in."
        >
    </a>
		<a href="images/media/Bonnie/PCB-Rev1-Back.jpg">
        <img
            src="images/media/Bonnie/PCB-Rev1-Back.jpg",
            data-big="images/media/Bonnie/PCB-Rev1-Back.jpg"
						data-title="PCB Rev 1"
            data-description="The back of the PCB after everything has been populated and plugged in."
        >
    </a>
		<a href="images/media/Bonnie/PCB-Rev2.jpg">
        <img
            src="images/media/Bonnie/PCB-Rev2.jpg",
            data-big="images/media/Bonnie/PCB-Rev2.jpg"
						data-title="PCB Rev 2"
            data-description="The second revision of the SECON PCB fully populated."
        >
    </a>
		<a href="images/media/Bonnie/PCB-Rev2-Front.jpg">
        <img
            src="images/media/Bonnie/PCB-Rev2-Front.jpg",
            data-big="images/media/Bonnie/PCB-Rev2-Front.jpg"
						data-title="PCB Rev 2"
            data-description="The front of the PCB rev 2 after everything has been populated and plugged in."
        >
    </a>
		<a href="images/media/Bonnie/PCB-Rev2-Back.jpg">
        <img
            src="images/media/Bonnie/PCB-Rev2-Back.jpg",
            data-big="images/media/Bonnie/PCB-Rev2-Back.jpg"
						data-title="PCB Rev 2"
            data-description="The back of the second revision PCB after everything has been populated and plugged in."
        >
    </a>
		<a href="images/media/Bonnie/Bonnie1.jpg">
        <img
            src="images/media/Bonnie/Bonnie1.jpg",
            data-big="images/media/Bonnie/Bonnie1.jpg"
            data-title="Bonnie"
            data-description="Bonnie fully build and populated"
        >
    </a>
		<a href="images/media/Bonnie/Bonnie2.jpg">
        <img
            src="images/media/Bonnie/Bonnie2.jpg",
            data-big="images/media/Bonnie/Bonnie2.jpg"
						data-title="Bonnie"
            data-description="Bonnie fully build and populated"
        >
    </a>
		<a href="images/media/Bonnie/Bonnie3.jpg">
        <img
            src="images/media/Bonnie/Bonnie3.jpg",
            data-big="images/media/Bonnie/Bonnie3.jpg"
						data-title="Bonnie"
            data-description="Bonnie fully build and populated"
        >
    </a>
		<a href="images/media/Bonnie/Bonnie4.jpg">
        <img
            src="images/media/Bonnie/Bonnie4.jpg",
            data-big="images/media/Bonnie/Bonnie4.jpg"
						data-title="Bonnie"
            data-description="Bonnie fully build and populated"
        >
    </a>
		<a href="images/media/Bonnie/Bonnie-Box.jpg">
        <img
            src="images/media/Bonnie/Bonnie-Box.jpg",
            data-big="images/media/Bonnie/Bonnie-Box.jpg"
						data-title="Bonnie Dimensions"
            data-description="Bonnie fits perfectly in a 1'x1'x1' space as required by the competition."
        >
    </a>
    <a href="https://www.youtube.com/watch?v=v2_dILDj3dA">
        <img src="images/media/Bonnie/Bonnie4.jpg"
        data-title="Full Run Through"
        data-description="The first full run through by Bonnie."
        >
    </a>
    <a href="https://www.youtube.com/watch?v=7GHeTlrg33c">
        <img src="images/media/Bonnie/Bonnie3.jpg"
        data-title="Full Run Through"
        data-description="Full run through done by Bonnie"
        >
    </a>
  </div>

  <h3>Clyde and Original Prototypes</h3>
  <div class='galleria' id='clyde'>
      <a href="images/media/Clyde/Etch.jpg">
          <img
              src="images/media/Clyde/Etch.jpg",
              data-big="images/media/Clyde/Etch.jpg"
              data-title="Etch Prototype"
              data-description="Original prototype for the Etch-a-Sketch mount."
          >
      </a>
      <a href="https://www.youtube.com/watch?v=kSnbEIy_h_o">
          <img src="images/media/Clyde/Etch.jpg"
          data-title="Etch Demo"
          data-description="Demonstration of the Etch mount drawing 'IEEE'"
          >
      </a>
      <a href="images/media/Clyde/Rubiks.jpg">
          <img
              src="images/media/Clyde/Rubiks.jpg",
              data-big="images/media/Clyde/Rubiks.jpg"
              data-title="Rubiks Prototype"
              data-description="Original prototype for the Rubiks platform and twisting mechanisms."
          >
      </a>
      <a href="https://www.youtube.com/watch?v=r4fMHrR1MGI&list=UU404kzJOMv2xgDb6y3G8H2w">
          <img src="images/media/Clyde/Rubiks.jpg"
          data-title="Rubiks Cube Demo"
          data-description="Demonstration of the Rubiks Cube spinner integrated with the 3D printed universal acceptor."
          >
      </a>
      <a href="images/media/Clyde/Simon.jpg">
          <img
              src="images/media/Clyde/Simon.jpg",
              data-big="images/media/Clyde/Simon.jpg"
              data-title="Simon Prototype"
              data-description="Original prototype for the Simon arms with photo resistors."
          >
      </a>
      <a href="https://www.youtube.com/watch?v=txGuhebF6sQ">
          <img src="images/media/Clyde/Simon.jpg"
          data-title="Simon Demo"
          data-description="Demonstration of the Simon being played for 3 full rounds."
          >
      </a>
      <a href="images/media/Clyde/Start.jpg">
          <img
              src="images/media/Clyde/Start.jpg",
              data-big="images/media/Clyde/Start.jpg"
              data-title="Start Light Prototype"
              data-description="Original prototype for the start light sensor. Uses a photo resistor to detect light."
          >
      </a>
      <a href="images/media/Clyde/Photoresistor-mount.jpg">
          <img
              src="images/media/Clyde/Photoresistor-mount.jpg",
              data-big="images/media/Clyde/Photoresistor-mount.jpg"
              data-title="Embedded Photoresistor"
              data-description="Embedded photoresistor in the bottom of the robot."
          >
      </a>
      <a href="images/media/Clyde/Arm.png">
          <img
              src="images/media/Clyde/Arm.png",
              data-big="images/media/Clyde/Arm.png"
              data-title="Arm Design"
              data-description="Design of the robot's arm. Consists of two brackets on a guide rail and U-shaped arm that can lower."
          >
      </a>
      <a href="images/media/Clyde/Clyde1.jpg">
          <img
              src="images/media/Clyde/Clyde1.jpg",
              data-big="images/media/Clyde/Clyde1.jpg"
              data-title="Clyde Prototype"
              data-description="Full Clyde prototype."
          >
      </a>
      <a href="images/media/Clyde/Clyde2.jpg">
          <img
              src="images/media/Clyde/Clyde2.jpg",
              data-big="images/media/Clyde/Clyde2.jpg"
              data-title="Clyde Prototype"
              data-description="Full Clyde prototype."
          >
      </a>
      <a href="images/media/Clyde/Clyde3.jpg">
          <img
              src="images/media/Clyde/Clyde3.jpg",
              data-big="images/media/Clyde/Clyde3.jpg"
              data-title="Clyde Prototype"
              data-description="Full Clyde prototype."
          >
      </a>
  </div>
</section>
