<!-- Team -->
<section id="team">
	<h1>Faculty Advisor</h1>
	<div class="profile" id="bruce">
		<div class="picture"></div>
		<div class="bio">
			<h2>Dr. J.W. Bruce</h2>
		</div>
	</div>
	<h1>Team Members</h1>
	<!-- Bryce -->
	<div class="profile" id="bryce">
		<div class='picture'></div>
		<div class="bio">
			<div class="header">
				<h2>Bryce Amacker</h2>
				<p> - Team Leader</p>
			</div>
			<p>Computer Engineering</p>
			<div class='resume'>
                <a href='files/team/BryceResume.pdf'>Resume</a>
    	    </div>
		</div>
	</div>
	<div class="spacer"></div>
	<!-- Faith -->
	<div class="profile" id="faith">
		<div class='picture'></div>
		<div class="bio">
			<h2>Faith Smith</h2>
			<p>Computer Engineering</p>
			<div class='resume'>
                <a href='files/team/FaithResume.pdf'>Resume</a>
    	    </div>
		</div>
	</div>
	<div class="spacer"></div>
	<!-- Dexter -->
	<div class="profile" id="dexter">
		<div class='picture'></div>
		<div class='bio'>
			<h2>Dexter Duckworth</h2>
			<p>Computer Engineering</p>
			<div class='resume'>
                <a href='files/team/DexterResume.pdf'>Resume</a>
    	    </div>
		</div>
	</div>
	<div class="spacer"></div>
	<!-- Steven -->
	<div class="profile" id="steven">
		<div class='picture'></div>
		<div class='bio'>
			<h2>Steven Calhoun</h2>
			<p>Computer Engineering</p>
			<div class='resume'>
                <a href='files/team/StevenResume.pdf'>Resume</a>
    	    </div>
		</div>
	</div>
	<div class="spacer"></div>
	<!-- Ryant -->
	<div class="profile" id="ryant">
		<div class='picture'></div>
		<div class='bio'>
			<h2>Ryant Nelson</h2>
			<p>Electrical Engineering</p>
			<div class='resume'>
                <a href='files/team/RyantResume.pdf'>Resume</a>
    	    </div>
		</div>
	</div>
	<div class="spacer"></div>
	<!-- Tran -->
	<div class="profile" id="tran">
		<div class='picture'></div>
		<div class='bio'>
			<h2>Tran Ton</h2>
			<p>Computer Engineering</p>
			<div class='resume'>
                <a href='files/team/TranResume.pdf'>Resume</a>
    	    </div>
		</div>
	</div>
	<div class="spacer"></div>
	<!-- Ben -->
	<div class="profile" id="ben">
		<div class='picture' id='benpicture'></div>
		<div class='bio'>
			<h2>Ben Eisman</h2>
			<p>Mechanical Engineering</p>
		</div>
	</div>
</section>
