/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/            => Sass extends declarations
 * /mixins/             => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss          => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss        => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _component_name.scss => Styles for a component of functionality (e.g. – modal).
 * _page_name.scss      => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

/* Foundation
 * -----------------------------------------------------------------------------*/
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  padding: 0px 30px 20px 30px;
  margin: 0px;
}
body {
  @include span-columns(10);
  background-color: $background-color;
  margin: 0px;
}
ul {
  padding: 0;
  list-style: none;
}

/* Header
 * -----------------------------------------------------------------------------*/
.header-primary {
  @include outer-container();
	font-size: $header-font-size*1.75;
	text-align: center;
  background-color: $dark-gray;
  color: $background-color;
}

/* Navigation
 * -----------------------------------------------------------------------------*/
.nav-primary {
	@include outer-container();
	ul {
		@include span-columns(10 of 10);
		@include row(table);
		@include pad(0);
    background-color: $dark-gray;
		li {
			@include span-columns(2 of 10);
      @include transition(all 0.3s ease-in-out);
			height: 60px;
			text-align: center;
			background-color: $dark-gray;
			color: white;
      cursor: pointer;
			font-size: $nav-font-size;
      box-shadow: inset 0 -6px 0 $secondary-color,
      						inset 0  0px 0 $secondary-color;
			&:hover {
				color: $primary-color;
			}
      span {
        position: relative;
        top: 10px;
			}
		}
    .active {
      box-shadow: inset 0 -6px 0 $primary-color,
      						inset 0  0px 0 $primary-color;
    }
	}
}

/* Content
 * -----------------------------------------------------------------------------*/
.content-primary {
	@include outer-container();
	padding-top: 20px;
  min-height: 600px;
  section {
    @include span-columns(10);
    @include row(table);
    display: none;
  }
  #home {
    display: block;
  }
}

.footer-primary {}
