#designI {
    @include row();
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
}
#designII {
    @include row();
    padding-bottom: 40px;
}
.file {
    @include span-columns(9);
    border-bottom: 1px dotted $secondary-color;
    margin-left: 30px;
    padding-top: 10px;
    div {
        font-size: $body-font-size;
    }
}
.filename {
    @include span-columns(6 of 10);
    @include outer-container();
    display: inline;
}

.download {
    @include span-columns(2 of 10);
    @include outer-container();
    float: right;
    a {
        padding-left: 8px;
        float: right;
    }
}

.inactive {
    color: $dark-gray;
    font-size: $base-font-size;
    cursor: default;
    &:hover{
        color: $dark-gray;
    }
}
