#home-left {
    @include span-columns(8);
    float: left;
}

#home-right {
    @include span-columns(2);
    float: right;
}

#home-bottom {
    @include span-columns(10);
    float: right;
    h3 {
      padding-top: 20px;
    }
}

.sample-course {
  @include size(777px 437px);
  @include retina-image('../images/home/course', 777px 437px);
  margin: 0 auto;
  margin-top: 20px;
}

.latest {
  width: 700px;
  margin: 0 auto;
  margin-top: 20px;
}
